* {
    box-sizing: border-box;
}

body{
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.key{
    border: 1px solid #999;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 20x;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    min-width: 150px;
    position: relative;
}

.key small{
    position: absolute;
    top: -20px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
}


